# https://github.com/motdotla/dotenv/blob/master/tests/.env

BASIC=encrypted:BB6vaw6+OUEIm+Phtx2v4qneXFpX26kmcShlTVmeNqr52jcO6JglJKFQtYoalZD/3UIBkn32PSKejY/Rc7S9GpDnBDzKdBxCfa5eXOQ2QVSa+FtClkShBNIpuLO3EIfrZ/1pYyfA

# previous line intentionally left blank
AFTER_LINE=encrypted:BNa6YhZbnICpYR5IPCTgID24pKPyfWid4u9MNqXUim0diFEEJcRD99VrK/234AcKlmxTx+L5s09P/hB1C1l+tgwsd27eVShuxQN/nqoILkwyJHlWYQ8KCoc5ZAHVMxVO+SClvp8BMGa9rtg=
EMPTY=encrypted:BJCgzIjFatUa0tMnsYp7nWAa4qW3DBEE1rLlm0fJnnl61uteV3uBJ1HN26LuwaWjeUp/szF9kTSAjRkPjN9njWKBsenIyMjROBvCuYq4NYH11SQnWVBYUddh19FPeZL4Ow==
EMPTY_SINGLE_QUOTES=encrypted:BGQixk1bHls+euQYxUd+b4FOU2Yfe5YBt4ZXkbUJ4rDod/g82wp7uSA/5BTcqTdHLbsEFVkvxKpEGWRHXQkF0F1xxibY919nYknRsrmArLRvP6YPXtaGJR4lrKrIW9/0qw==
EMPTY_DOUBLE_QUOTES=encrypted:BDpfmNMkCtEt3hJuq48/GbRXnmamBs9kVtk6y/JZhQ/fJnJuMpJUZD8fR+HGo4n96Dqepz9p01/rT82bW9Qst4ku2tAvTqu17KsnabZlXSSULZZnfrgkp+Ehz6T1b7CnoA==
EMPTY_BACKTICKS=encrypted:BJuB6bgSaY3yiGS/c1HaEds8syXfrGzN5aH4flP/P4AsmjbfwLJ33BhODGAOamdvZHrG5KUAR1qIVTEyZE2WCCpNFW5BarsjoBcue7ehmKOOUlXJrBB8E2pX0YM3vWRa0g==
SINGLE_QUOTES=encrypted:BOP730STq+gWfVYXZzpGNQg+CZp9nAfuBty6tTA7ARQI5mIRMUQcdasthrdetpM04HpBJWgU3zeTJHjgO81BQA+5hcFcT0WD+amEdoziRiM9I4+s+oEWvoqpiyQd6WM0V5XSHumWXptE1HKLfjg=
SINGLE_QUOTES_SPACED=encrypted:BNheq7zo/eJxCalE9WFa8G7VGOnUxmpwdWYoqu/TeY1SMeR7yObqv9Ssm9ZGape7QNdN/cHmuMcwV50IIIxeoyJMirEl23jHdSd3SHwpp7PXxnyjQzf1ZHUQN7GpMSomjROSN7LY+LTFMOIn2wH0d1nZ69q5Kg==
DOUBLE_QUOTES=encrypted:BGlwVvDq5lp9cfNKnxXjDSzSOYyKfE3gbPIGtBel3yPdyNMAnWqRDJXYDB1cHxT23/nqr023GYWU5BVZKaGud7awN7PrjQVSpH5xHAzNP4Pyp/IFAkErVcKFFLamLoX5ZWV8E5zbBLB3N05v+aQ=
DOUBLE_QUOTES_SPACED=encrypted:BL0IUJGvuAgbfJIGkkFrg2ZzJsYg8maZ1ljt2VCS4YGAUqNjfK3bH60lonXRrtjCTh9YMAP17l7EUv5wzzc7PBOToxQxNMl961vmnweX/+TPrxdrTED3kijbIVtrYHEv4rchy5Z0G5rnSHb9fsxiXk5OYVQvBw==
DOUBLE_QUOTES_INSIDE_SINGLE=encrypted:BJ5MR+3fuNhhxyh2yNUtN6VzGn2RtN3lGsH46c9czNEUlxvWBcMCWDie3AnOqCnPuliSrI+Bj9irtwZpprzaummWwS0VR08KOsgSxX8WYCPsyzdsl/tpiOovYIpiOOqG7/ZRr4xrby9MJyEDyC64jemjO49Hlpat5tSFoJpytZfris4TZHbRdSvJ
